# 1. 데이터 불러오기 및 전처리하기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
x = pd.read_excel('온라인쇼핑 요일, 시간대별 이용 특징.xlsx')

x

       CRI_YM      TAG 평일휴일 요일       시간대 성별      연령대  건수합계
0      201905     유아용품   평일  목  B.06-10시  F    A.2O대   291
1      202005  생활/사무용품   평일  월  D.14-18시  M    C.4O대  6225
2      201905     골프용품   휴일  일  F.22-02시  M    B.3O대    51
3      202105      화장품   휴일  일  D.14-18시  F    C.4O대  3564
4      202005     인테리어   평일  월  C.10-14시  F    D.5O대  1101
...       ...      ...  ... ..       ... ..      ...   ...
21552  201905       패션   평일  월  F.22-02시  M    C.4O대  2470
21553  202005     골프용품   평일  금  D.14-18시  F    C.4O대   107
21554  202105  스포츠의류용품   평일  화  E.18-22시  M    B.3O대   603
21555  202105     인테리어   평일  화  C.10-14시  F  E.60대이상   415
21556  201905     유아용품   평일  목  C.10-14시  M    C.4O대   580

[21557 rows x 8 columns]

In [3]:
x.rename(columns={'CRI_YM':'년도','TAG':'품목명'},inplace=True)
x = x.replace({'A.2O대':'20대','B.3O대':'30대','C.4O대':'40대','D.5O대':'50대','E.60대이상':'60대이상'})
x = x.replace({'A.02-06시':'02-06시','B.06-10시':'06-10시','C.10-14시':'10-14시','D.14-18시':'14-18시','E.18-22시':'18-22시','F.22-02시':'22-02시'})

x.to_csv('online_shopping.csv',encoding='cp949')

# 2. 데이터 MySQL에 저장하기

In [4]:
import MySQLdb

val_list = x.values.tolist()

conn = MySQLdb.connect(user='root',passwd='jimkwon95',host='localhost',db='card_db')
cursor = conn.cursor()
cursor.execute("drop table if exists usertbl")
cursor.execute("create table usertbl(year text,product text,week text,day text,time text,gender text,age text,total text)")
for k in range(len(val_list)):
    data = list(x.iloc[k])
    cursor.execute(f"INSERT INTO usertbl VALUES(\"{data[0]}\",\"{data[1]}\",\"{data[2]}\",\"{data[3]}\",\"{data[4]}\",\"{data[5]}\",\"{data[6]}\",\"{data[7]}\")")
conn.commit()
conn.close()